.container {
  padding-left: 10rem;
  padding-right: 10rem;
}

.box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-link {
  height: 80px;
}

.nav-link:hover {
  background-color: #CED4DA;
}

.menu-link:hover {
  background-color: #CED4DA;
}


